<div class="roll-container">
  <div class="mhr-roll-title">{{localize moveName}}</div>
  {{!-- <div class="mhr-roll-subtitle">{{actorName}}</div> --}}
  
  {{#if rollResults}}
  <div class="mh-dice-rolls">
    {{#each rollResults}}
      <div class="mh-die-d6">{{this}}</div>
    {{/each}}
  </div>
  {{/if}}

  {{!-- We need to capture the selected tags and statuses and show in the next section below  --}}
  <div class="mhr-roll-mdf">
    {{#if themeCount}}
      {{#if (eq themeType "mythos")}}
        <i class="fa-solid fa-bolt"></i> {{themeCount}}
        {{else if (eq themeType "logos")}}
        <i class="fa-solid fa-mask"></i> {{themeCount}}
      {{/if}}
    {{/if}}
    {{#if calculatedPower}}
      <i class="fa-light fa-bolt"></i> {{calculatedPower}}
    {{/if}}
    {{#if totalWeakness}}
      <i class="fa-light fa-angles-down mhr-mls"></i> {{totalWeakness}}
    {{/if}}
    {{#if totalStoryTags}}
      <i class="fa-light fa-tag mhr-mls"></i> {{totalStoryTags}}
    {{/if}}
    {{#if totalScnTags}}
      <i class="fa-solid fa-tag mhr-mls"></i> {{totalScnTags}}
    {{/if}}
    {{#if totalStatuses}}
      <i class="fa-light fa-rectangle-list mhr-mls"></i> {{totalStatuses}}
    {{/if}}
    {{#if modifier}}
      <i class="fa-light fa-notes-medical mhr-mls"></i> {{modifier}}
    {{/if}}
  </div>

  {{#if (or tagsData.powerTags tagsData.weaknessTags tagsData.storyTags tagsData.statuses tagsData.sceneStatuses tagsData.scnTags tagsData.modifier)}}
    <hr>
  {{/if}}

  <div class="tags-section">
    <span class="tag-row mhr-power-tags">
      {{#each tagsData.powerTags}}
        <span class="mhr-power-tag {{stateClass}}">{{tagName}}</span>
      {{/each}}
    </span>

    <span class="tag-row mhr-weakness-tags">
      {{#each tagsData.weaknessTags}}
        <span class="mhr-weakness-tag {{stateClass}}">{{tagName}}</span>
      {{/each}}
    </span>

    <span class="tag-row mhr-story-tags">
      {{#each tagsData.storyTags}}
        <span class="mhr-story-tag {{stateClass}}">{{tagName}}</span>
      {{/each}}
    </span>
    
    {{#if tagsData.scnTags}}
        {{#each tagsData.scnTags}}            
          <span class="scene-tag-item {{#if (eq this.type "positive")}}scene-positive{{else}}scene-negative{{/if}}">
            {{#if this.temporary}}⏱️ {{/if}}
            {{#if this.permanent}}💎 {{/if}}
            {{this.name}}
          </span>
        {{/each}}
    {{/if}}

    <span class="tag-row mhr-character-statuses">
      {{#each tagsData.statuses}}
        <span class="mhr-status-tag {{typeClass}} {{#if temporary}}mhr-temporary-status{{/if}} {{#if permanent}}mhr-permanent-status{{/if}}">
          {{#if temporary}}⏱️ {{/if}}
          {{#if permanent}}💎 {{/if}}
          {{name}}-{{tier}}
        </span>
      {{/each}}
    </span>
    
    <span class="tag-row mhr-scene-statuses">
        {{#each tagsData.sceneStatuses}}
          <span class="mhr-scene-status-tag {{typeClass}}">
              {{#if temporary}}⏳{{/if}}
              {{#if permanent}}💎{{/if}}
              {{name}}-{{tier}}
          </span>
        {{/each}}
    </span>
  </div>

  {{#if rollTotal}}
  <hr>
  {{/if}}

  <div class="mhr-roll-result">{{rollTotal}}</div>

  <hr>

  <div class="mhr-outcome">{{localize outcomeMessage}}</div>

  <!-- Move Effects List -->
  {{#if localizedMoveEffects.length}}
    <ul class="ch-move-list">
      {{#each localizedMoveEffects}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
