<div class="mh-hud">
  <div class="mh-content">
    {{#each themes}}
    <div class="theme-container-{{category}}">
      <div class="mh-theme-header">
        <span class="{{iconClass}}" data-theme-id="{{id}}"></span>

      {{#if (eq ../activeSystem "city-of-mist")}}
        <span class="mh-theme-name mh-theme-name-com-{{category}}">{{themeName}}</span> <!-- Render only if system is City of Mist -->
      {{/if}}

      {{#if (or (eq ../activeSystem "otherscape") (eq ../activeSystem "legend"))}}
        <span class="mh-theme-name mh-theme-name-com-{{category}}">{{localizedThemebookName}}</span> <!-- Render only if system is Otherscape or Legends in the Mist -->
      {{/if}}
      </div>

      <!-- Power Tags -->
      <ul class="mh-tags">
        {{#each powerTags}}
        <li class="mh-power-tag {{this.cssClass}} {{../category}}" data-id="{{this.id}}">
          <div class="mh-burn-toggle burn-icon {{this.burnState}} {{../category}}"></div>
          <div class="mh-tag-text {{../category}}">{{this.tagName}}</div>
          {{#if subtags}}
            <ul class="mh-subtag">
              {{#each subtags}}
              <li class="subtag-item {{cssClass}}">
                <span class="subtag-burn burn-icon {{burnIcon}}"></span>
                <span class="subtag-name">{{this.tagName}}</span>
              </li>
              {{/each}}
            </ul>
          {{/if}}
        </li>
        {{/each}}
      </ul>



      <!-- Weakness Tags -->
      <ul class="mh-tags">
        {{#each weaknessTags}}
          <li class="mh-weakness-tag {{this.cssClass}}" data-id="{{this.id}}">
            <span class="mh-weakness-toggle clickable {{#if this.isInverted}}inverted{{else}}default{{/if}}" data-id="{{this.id}}">
              {{{this.inversionIcon}}}
            </span>
            <span class="mh-tag-text">{{this.tagName}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
    {{/each}}

    <!-- LOADOUT Section -->
    {{#if isOtherscape}} 
    <div class="theme-container-{{category}}">
      <div class="mh-theme-header">
        <span class="mh-theme-icon-notip loadout"></span>
        <span class="mh-theme-name mh-theme-name-neutral">{{localize "Otherscape.terms.loadoutTheme.name"}}</span>
      </div>
      <ul class="mh-tags">
          {{#each loadoutTags}}
          <li class="mh-loadout-tag {{this.cssClass}}" data-id="{{this.id}}">
          <span class="mh-burn-toggle burn-icon {{this.burnState}}"></span>
            <span class="mh-tag-text">{{this.tagName}}</span>
            {{#if subtags}}
              <ul class="mh-subtag">
                {{#each subtags}}
                  <li class="subtag-item {{cssClass}}">
                    <span class="subtag-burn">{{{burnIcon}}}</span>
                    <span class="subtag-name">{{tagName}}</span>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}

    <!-- Story Tags Section -->
    {{!-- {{#if hasStoryTags}} --}}
      <div class="mh-story-tags-container">
      <div class="mh-theme-header mh-title-container">
        <div class="mh-title-container">
          <span class="mh-theme-icon-notip storytag"></span>
          <span class="mh-theme-name mh-theme-name-neutral">{{localize "CityOfMist.terms.storyTags"}}{{#if isOtherscape}} / Relationships{{/if}}</span>
        </div>
        <a class="create-story-tag" 
        data-owner-id="{{actor.id}}" 
        data-token-id="{{token.id}}" 
        data-scene-id="{{scene.id}}" 
        title="Create Tag"> 
        <i class="fas fa-plus"></i></a>
      </div>
        <ul class="mh-tags">
          {{#each storyTags}}
            <li class="mh-story-tag {{this.cssClass}} {{#if temporary}}temporary{{/if}}"
            data-id="{{this.id}}" 
            data-temporary="{{this.temporary}}" 
            data-permanent="{{this.permanent}}">
              <span class="mh-burn-toggle burn-icon {{this.burnState}}"></span>
              <span class="mh-tag-text {{#if temporary}}temporary{{/if}}">
                {{#if temporary}}⏱️ {{/if}}
                {{#if permanent}}💎 {{/if}}
                {{this.tagName}}</span>
              <span class="mhr-mls mh-story-toggle clickable {{#if this.isInverted}}inverted{{else}}default{{/if}}" data-id="{{this.id}}">
                {{{this.inversionIcon}}}
              </span>
            </li>
          {{/each}}
        </ul>
      </div>
    {{!-- {{/if}} --}}

    <!-- Statuses Section -->
    <div class="mh-statuses-container">
      <div class="mh-theme-header mh-title-container">
        <div class="mh-title-container">
          <span class="mh-theme-icon-notip statuses"></span>
          <span class="mh-theme-name mh-theme-name-neutral">{{localize "CityOfMist.terms.statuses"}}</span>
        </div>
        <a class="create-status" title="Create Status"> <i class="fas fa-plus"></i></a>
      </div>
      <div class="mh-statuses-list">
        {{#each statuses}}
        <div class="mh-status {{statusType}} {{#if selected}}selected{{/if}} {{#if temporary}}temporary{{/if}}" 
            data-status-name="{{statusName}}" 
            data-status-id="{{id}}" 
            data-owner-id="{{actor.id}}" 
            data-tier="{{statusTier}}" 
            data-temporary="{{temporary}}" 
            data-permanent="{{permanent}}">
            {{#if temporary}}⏱️ {{/if}}
            {{#if permanent}}💎 {{/if}}
            {{statusName}}-{{statusTier}}
        </div>

        {{/each}}
      </div>
    </div>

    <!-- Modifier Bar -->
    <div class="mh-modifier-bar">
      <div id="mh-mod-decrease" class="mh-mod-button">-</div>
      <input type="text" id="mh-mod-value" value="0" />
      <div id="mh-mod-increase" class="mh-mod-button">+</div>
    </div>

    <!-- Help/Hurt Messages -->
    {{!-- <div id="mh-help-hurt-messages" class="mh-help-hurt-messages">
      {{#if helpHurtMessages}}
        {{#each helpHurtMessages}}
          <div class="help-hurt-message {{this.type}}">
            {{this.giverName}} {{#if (eq this.type "help")}}helps{{else}}hurts{{/if}} you for {{this.amount}}
          </div>
        {{/each}}
      {{else}}
        <div class="help-hurt-message empty">No active Help or Hurt effects</div>
      {{/if}}
    </div> --}}


  </div>
</div>


{{!-- RIGHT PANEL --}}
<div id="mh-sliding-panel" class="mh-sliding-panel">
  <div id="mh-panel-ear" class="mh-panel-ear">❯</div>
  <div id="mh-panel-content" class="mh-panel-content">
    
    {{#if hasImprovements}}
    <div class="section improvements">
        <div class="mh-theme-name title-effect"><i class="fa-light fa-star"></i> {{localize "TYPES.Item.improvement"}}</div>
        {{#each improvements}}
        <div class="theme-container">
            <div class="mh-theme-name mh-title-container mh-improvement-theme">
                <div class="theme-type" data-theme-name="{{this.fullThemeName}}">
                    {{this.name}}
                </div>
            </div>
            {{#each this.improvements}}
            <div class="improvement-container">
              <div class="mh-title-container">
                  <span class="item-name">
                    <i class="fa-solid fa-star" style="font-size: 0.45rem; margin-right: 2px;"></i>
                      {{this.name}}
                      {{#if (gt this.uses.max 0)}}
                      - {{this.uses.current}}/{{this.uses.max}}
                      <a class="toggle-expended" data-item-id="{{this.id}}" data-actor-id="{{../id}}" title="Reset Uses">
                          <i class="fas fa-redo"></i>
                      </a>
                      {{/if}}
                  </span>
              </div>
              <div>
                {{#if this.description}}
                <div class="item-description">{{this.description}}</div>
                {{/if}}
                {{#if this.choiceItem}}
                <div class="item-choice">{{this.choiceItem}}</div>
                {{/if}}
              </div>
            </div>
            {{!-- <hr /> --}}
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/if}}




    <!-- City of Mist Content -->
    {{#if isCityOfMist}}
    <div class="section relationships">
      <div class="mh-theme-name title-effect"><i class="fa-solid fa-users"></i> {{localize "CityOfMist.terms.help"}} & {{localize "CityOfMist.terms.hurt"}}</div>
      {{#each helpItems}}
      <div class="relationship-item">
        <img src="{{this.target.tokenImage}}" alt="{{this.target.name}}" class="token-image" />
        <span class="item-name">{{this.target.name}} (+{{this.amount}})</span>
        {{!-- <input type="checkbox" class="help-toggle" data-target-id="{{this.target.id}}" data-amount="{{this.amount}}" {{#if this.active}}checked{{/if}}> --}}
      </div>
      {{/each}}
      {{#each hurtItems}}
      <div class="relationship-item">
        <img src="{{this.target.tokenImage}}" alt="{{this.target.name}}" class="token-image" />
        <span class="item-name">{{this.target.name}} (-{{this.amount}})</span>
        {{!-- <input type="checkbox" class="hurt-toggle" data-target-id="{{this.target.id}}" data-amount="{{this.amount}}" {{#if this.active}}checked{{/if}}> --}}
      </div>
      {{/each}}

    </div>

    <hr class="panel-divider" />

    <div class="section clues">
        <div class="mh-theme-name title-effect mh-title-container">
            <div><i class="fa-solid fa-magnifying-glass"></i> {{localize "CityOfMist.terms.clues"}}</div>
            <a class="create-clue" title="Create Clue"> <i class="fas fa-plus"></i></a>
        </div>
        {{#each clueItems}}
        <div class="clue-container" data-clue-id="{{this.id}}" data-owner-id="{{this.actorId}}">
          <div class="mh-title-container">
            <div class="item-name">{{this.name}} ({{this.amount}})</div>
            <a class="clue-delete" title="Delete Clue"><i class="fas fa-trash"></i></a>
          </div>
          {{#if this.partial}}
          <div class="partial-icon" title="{{localize "CityOfMist.terms.partialClue"}}">
              🧩{{localize "CityOfMist.terms.partialClue"}}
          </div>
          {{/if}}
          <div class="item-details">
              <span class="detail-label">{{localize "CityOfMist.terms.clueSource"}}:</span>
              <span class="detail-text">{{this.source}}</span><br />
              <span class="detail-label">{{localize "CityOfMist.terms.clueMethod"}}:</span>
              <span class="detail-text">{{this.method}}</span>
          </div>
      </div>
{{/each}}

    </div>

    <hr class="panel-divider" />

    <div class="section juice">
        <div class="mh-theme-name title-effect mh-title-container">
            <div><i class="fa-sharp-duotone fa-regular fa-battery-bolt"></i> {{localize "CityOfMist.terms.juice"}}</div>
            <a class="create-juice" title="Create Juice"> <i class="fas fa-plus"></i></a>
        </div>
        {{#each juiceItems}}
        <div class="juice-container" data-juice-id="{{this.id}}" data-owner-id="{{this.actorId}}">
            <div class="mh-title-container">
                <div class="item-name">
                    {{this.name}} ({{this.amount}})
                </div>
                <a class="juice-delete" title="Delete Juice"><i class="fas fa-trash"></i></a>
            </div>
            <div class="item-details">
                <span class="detail-label">{{localize "CityOfMist.terms.clueSource"}}:</span>
                <span class="detail-text">{{this.source}}</span><br />
                <span class="detail-label">{{localize "CityOfMist.terms.clueMethod"}}:</span>
                <span class="detail-text">{{this.method}}</span>
            </div>
        </div>
        {{/each}}
    </div>

    {{/if}}

    {{#if isOtherscape}}
      <!-- Otherscape Content -->
      <div class="section otherscape">
        <div class="mh-theme-name mh-theme-name-neutral mh-essence-title">Essence</div>
        <div class="mh-essence-chart {{essenceClass}}">
          <img src="modules/mist-hud/ui/essences/{{essenceImage}}" alt="{{essence}}" />
        </div>
        <div class="mh-essence-title {{essenceClass}}">{{essence}}</div>
        {{{essenceText}}}
      </div>
    {{/if}}


    {{!-- Add a default or fallback block if needed --}}
    {{#unless (or isCityOfMist isOtherscape)}}
      <div class="section fallback">
        <div class="mh-theme-name"><i class="fa-solid fa-exclamation-triangle"></i> No Content Available</div>
      </div>
    {{/unless}}
  </div>
</div>





