<div class="mh-hud">
  <div class="mh-content">
    {{#each themes}}
    <div class="theme-container-{{category}}">
      <div class="mh-theme-header">
        <span class="{{iconClass}}" data-theme-id="{{id}}"></span>

      {{#if (eq ../activeSystem "city-of-mist")}}
        <span class="mh-theme-name mh-theme-name-com-{{category}}">{{themeName}}</span> <!-- Render only if system is City of Mist -->
      {{/if}}

      {{#if (or (eq ../activeSystem "otherscape") (eq ../activeSystem "legend"))}}
        <span class="mh-theme-name mh-theme-name-com-{{category}}">{{localizedThemebookName}}</span> <!-- Render only if system is Otherscape or Legends in the Mist -->
      {{/if}}
      </div>

      <!-- Power Tags -->
      <ul class="mh-tags">
        {{#each powerTags}}
        <li class="mh-power-tag {{this.cssClass}}" data-id="{{this.id}}">
          <span class="mh-burn-toggle {{this.cssClass}}">{{{this.burnIcon}}}</span>
          <span class="mh-tag-text">{{this.tagName}}</span>
          {{#if subtags}}
            <ul class="mh-subtag">
              {{#each subtags}}
                <li class="subtag-item {{cssClass}}">
                  <span class="subtag-burn">{{{burnIcon}}}</span>
                  <span class="subtag-name">{{this.tagName}}</span>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </li>
        {{/each}}
      </ul>

      <!-- Weakness Tags -->
      <ul class="mh-tags">
        {{#each weaknessTags}}
          <li class="mh-weakness-tag {{this.cssClass}}" data-id="{{this.id}}">
            <span class="mh-weakness-toggle clickable {{#if this.isInverted}}inverted{{else}}default{{/if}}" data-id="{{this.id}}">
              {{{this.inversionIcon}}}
            </span>
            <span class="mh-tag-text">{{this.tagName}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
    {{/each}}

    <!-- LOADOUT Section -->
    {{#if isOtherscape}} 
    <div class="theme-container-{{category}}">
      <div class="mh-theme-header">
        <span class="mh-theme-icon loadout"></span>
        <span class="mh-theme-name mh-theme-name-neutral">{{localize "Otherscape.terms.loadoutTheme.name"}}</span>
      </div>
      <ul class="mh-tags">
          {{#each loadoutTags}}
          <li class="mh-loadout-tag {{this.cssClass}}" data-id="{{this.id}}">
            <span class="mh-burn-toggle {{this.cssClass}}">{{{this.burnIcon}}}</span>
            <span class="mh-tag-text">{{this.tagName}}</span>
            {{#if subtags}}
              <ul class="mh-subtag">
                {{#each subtags}}
                  <li class="subtag-item {{cssClass}}">
                    <span class="subtag-burn">{{{burnIcon}}}</span>
                    <span class="subtag-name">{{tagName}}</span>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}

    <!-- Story Tags Section -->
    {{#if hasStoryTags}}
      <div class="mh-story-tags-container">
      <div class="mh-theme-header">
        <span class="mh-theme-icon storytag"></span>
        <span class="mh-theme-name mh-theme-name-neutral">{{localize "CityOfMist.terms.storyTags"}}</span>
      </div>
        <ul class="mh-tags">
          {{#each storyTags}}
            <li class="mh-story-tag {{this.cssClass}}" data-id="{{this.id}}" data-temporary="{{this.temporary}}" data-permanent="{{this.permanent}}">
              <span class="mh-burn-toggle {{this.cssClass}}">{{{this.burnIcon}}}</span>
              <span class="mh-tag-text">
                {{#if temporary}}⏱️ {{/if}}
                {{#if permanent}}💎 {{/if}}
                {{this.tagName}}</span>
              <span class="mhr-mls mh-story-toggle clickable {{#if this.isInverted}}inverted{{else}}default{{/if}}" data-id="{{this.id}}">
                {{{this.inversionIcon}}}
              </span>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <!-- Statuses Section -->
    <div class="mh-statuses-container">
      <div class="mh-theme-header">
        <span class="mh-theme-icon statuses"></span>
        <span class="mh-theme-name mh-theme-name-neutral">{{localize "CityOfMist.terms.statuses"}}</span>
      </div>
      <div class="mh-statuses-list">
        {{#each statuses}}
          <div class="mh-status {{#if selected}}selected{{/if}} {{statusType}}" data-status-name="{{statusName}}" data-tier="{{statusTier}}" data-temporary="{{temporary}}" data-permanent="{{permanent}}">
            {{#if temporary}}⏱️ {{/if}}
            {{#if permanent}}💎 {{/if}}
            {{statusName}}-{{statusTier}}
          </div>
        {{/each}}
      </div>
    </div>

    <!-- Modifier Bar -->
    <div class="mh-modifier-bar">
      <div id="mh-mod-decrease" class="mh-mod-button">-</div>
      <input type="text" id="mh-mod-value" value="0" />
      <div id="mh-mod-increase" class="mh-mod-button">+</div>
    </div>
  </div>
</div>

{{!-- RIGHT PANEL --}}
<div id="mh-sliding-panel" class="mh-sliding-panel">
  <div id="mh-panel-ear" class="mh-panel-ear">❯</div>
  <div id="mh-panel-content" class="mh-panel-content">
    {{#if isCityOfMist}}
      <!-- City of Mist Content -->
      <div class="section relationships">
        <div class="mh-theme-name title-effect"><i class="fa-solid fa-users"></i> {{localize "CityOfMist.terms.help"}} & {{localize "CityOfMist.terms.hurt"}}</div>
        {{#each helpItems}}
          <div class="relationship-item">
            <img src="{{this.target.tokenImage}}" alt="{{this.target.name}}" class="token-image" />
            <span class="item-name">{{this.target.name}} (+{{this.amount}})</span>
          </div>
        {{/each}}
        {{#each hurtItems}}
          <div class="relationship-item">
            <img src="{{this.target.tokenImage}}" alt="{{this.target.name}}" class="token-image" />
            <span class="item-name">{{this.target.name}} (-{{this.amount}})</span>
          </div>
        {{/each}}
      </div>
      <hr class="panel-divider" />

      <div class="section clues">
        <div class="mh-theme-name title-effect"><i class="fa-solid fa-magnifying-glass"></i> {{localize "CityOfMist.terms.clues"}}</div>
        {{#each clueItems}}
          <div class="clue-container">
            <a class="item-control clue-delete" title="Delete Clue"><i class="fas fa-trash"></i></a>
            <div class="item-name">{{this.name}} ({{this.amount}})
              {{#if this.partial}}
                <div class="partial-icon" title="{{localize "CityOfMist.terms.partialClue"}}">🧩{{localize "CityOfMist.terms.partialClue"}}</div>
              {{/if}}</div>
            <div class="item-details">
              <span class="detail-label">{{localize "CityOfMist.terms.clueSource"}}:</span> 
              <span class="detail-text">{{this.source}}</span><br />
              <span class="detail-label">{{localize "CityOfMist.terms.clueMethod"}}:</span> 
              <span class="detail-text">{{this.method}}</span>
            </div>
          </div>
        {{/each}}
      </div>
      <hr class="panel-divider" />

      <div class="section juice">
        <div class="mh-theme-name title-effect"><i class="fa-sharp-duotone fa-regular fa-battery-bolt"></i> {{localize "CityOfMist.terms.juice"}}</div>
        {{#each juiceItems}}
          <div class="juice-container">
            <div class="item-name">{{this.name}} ({{this.amount}})</div>
            <div class="item-details">
              <span class="detail-label">{{localize "CityOfMist.terms.clueSource"}}:</span> 
              <span class="detail-text">{{this.source}}</span><br />
              <span class="detail-label">{{localize "CityOfMist.terms.clueMethod"}}:</span> 
              <span class="detail-text">{{this.method}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if isOtherscape}}
      <!-- Otherscape Content -->
      <div class="section otherscape">
        <div class="mh-theme-name mh-theme-name-neutral">
          <i class="fa-light fa-chart-radar"></i> Essence
        </div>
        <div class="mh-essence-chart {{essenceClass}}"></div>
        <div class="mh-essence-title {{essenceClass}}">{{essence}}</div>
        {{{essenceText}}}
      </div>
    {{/if}}


    {{!-- Add a default or fallback block if needed --}}
    {{#unless (or isCityOfMist isOtherscape)}}
      <div class="section fallback">
        <div class="mh-theme-name"><i class="fa-solid fa-exclamation-triangle"></i> No Content Available</div>
      </div>
    {{/unless}}
  </div>
</div>





